@import '../../../variables/colors';
@import '../../../variables/screen-sizes';
.button {
  border: 2px solid $light-blue;
  border-radius: 3px;
  background-color: white;
  color: $light-blue;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
  min-width: 100px;
  &:hover {
    background-color: $light-blue;
    color: white;
  }
}

@media (max-width: $tablet-small) {
  .button {
    padding: 5px;
    min-width: 70px;
  }
}
